/node_modules
/public/hot
/public/storage/framework/sessions
/public/storage/framework/views/storage/*.key
/storage/debugbar
/vendor
.env.backup
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
